msrest==0.6.11
pyodbc==4.0.26
pandas==0.25.3
numpy==1.16.4
boto3==1.13.16
botocore==1.16.16
smartsheet_python_sdk==2.68.3
retrying==1.3.3
psycopg2==2.8.3
SQLAlchemy==1.3.4
requests==2.22.0
textblob==0.15.3
beautifulsoup4==4.9.1
google_api_python_client==1.10.0
protobuf==3.13.0
azure-devops==6.0.0b2
